{% extends "base.html" %}
{% block title %}Listado de Pokemon{% endblock title %}
{% block content %}
            <div class="bg-primary text-white p-4 text-center">
                <h1>Mi Pokedex</h1>
            </div>
            <br>
            <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
            <h3>Caracteristicas</h3>
            <ul>
                <li>Tipo: {{ pokemon.type}}</li>
                <li>Peso: {{ pokemon.weight}} Kg </li>
                <li>Altura: {{ pokemon.height}} Cm</li>
            </ul>
            <img src="{{ pokemon.picture.url }}" alt="{{ pokemon.name }}" class="card-img-thumbnail">
{% endblock content%}